html {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    
}

.blocks-buttons:before,
.blocks-buttons:after,
.cont:before,
.cont:after {
    display: none;
}
:root {
    --main-sides-margin:160px;
    --tablet-sides-margin:49px;
    --mobile-sides-margin:18px;
    --content-text-right-margin-right-text:56px;
    --content-text-left-margin-right-text:64px;
    --content-text-right-margin-right-text:160px;
    --darkred-title-size:32px;
    --title-font-size:72px;
    --title-table-font-size:40px;
    --title-mobile-font-size:32px;
}
.border-test {
    
}




header {
    background-color: #FFFFFF;
}

.header-wrapper {
    width: auto;
    margin-left: 160px;
    margin-right: 160px;
}
/* header {
    display: inline-flex;
    background-color: #FFFFFF;
    height: 42px;
    
    
    margin-left: var(--main-sides-margin);
    margin-right:var(--main-sides-margin);
}

.header-button {
    height: auto;
    border-bottom: 0px;
    border-top: 0px;
    
} */

#login {
    background: #FFFFFF url(images/login-icon.svg) no-repeat 10px center;
    text-align: center;
    
    
}
#signup {
    background: #FFFFFF url(images/reg-icon.svg) no-repeat 10px center;   
    
}
#help {
    background: #FFFFFF url(images/help-icon.svg) no-repeat 10px center; 
    
}
#blind {
    background: #FFFFFF url(images/eyes-icon.svg) no-repeat 10px center;
    
}
#search {
    background: #FFFFFF url(images/search-icon.svg) no-repeat 10px center;
    
    
}


.title-section {
    display: flex;
    background-color: black;
    background-image: url(./images/big-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    margin-bottom: -60px;
    height: 564px;
}

#title {
    color:white;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    font-size: 72px;
    margin-left: var(--main-sides-margin);
    margin-right: var(--main-sides-margin);
    margin-top:128px;
    font-family: 'Roboto Slab';
}

.cont {
    position: relative;
    margin-left: var(--main-side-margin);
    margin-right: var(--main-side-margin); 
    
}

.blocks-buttons {
    background-color: #E5E5E5;
    margin-left: 160px;
    margin-right: 160px;
    
}

.block {
    display: flex; 
    align-items: center;
    justify-items: center;
    height: 88px; 
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom:32px;    
}

.block.bottom {
    display: grid;
    grid-template-columns: 10% 75% 15%;
    background: linear-gradient(90deg, #CC726E 0%, #81A5DA 100%);
    border-radius: 4px;
    height: 163px;
}

.content-main {
    background-color: #fff;
}
.contacts {
    background-color:#E5E5E5;
}
.picture-content { 
    height: 533px;
    width: auto;
    /* background-color: black; */
    background-size: cover; 
}

.text-content-left {
    margin-right: 56px;
    margin-left: var(--main-sides-margin);
    margin-top: 56px;
    /* padding-top: 56px;   */
}
.text-content-right {
    margin-right: 160px;
    margin-left: 56px;
    margin-top: 56px;
    /* padding-top: 56px; 
    padding-left: 57px; */
}


.picture-content.pic1 {
    background-image: url(images/content-pic1.png);
    background-repeat: no-repeat;
}
.picture-content.pic2 {
    background-image: url(images/content-pic2.png);
    background-repeat: no-repeat;
}
.picture-content.pic3 {
    background-image: url(images/content-pic3.png);
    background-repeat: no-repeat;
}
.picture-content.map {
    background-image: url(images/Map.png);
    background-repeat: no-repeat;
}



footer {
    height: 192px;
    background-color: #333333;
}
.footer-wrapper {
    margin-left: 160px;
    margin-right: 160px;
    
    height: 192px;
}
.footer-info {
    margin-top: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    
    color: #999999;
}


.white-text {
    color: #FFFFFF;
}
.black-text {
    color: black;
}
.gray-text {
    color:#999999;
    font-family:'Roboto Slab';
    
}
.darkred-text {
    color:#633333;
    font-family:'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 32px;
    
}

.content-full-text {
    margin-top: 32px;
    
}

.white-back {
    background-color: #FFFFFF;
}
.gray-back{
    background-color: #E5E5E5;
}
.contact-info {
    margin-top: 32px;
}
.p-content {
    line-height: 24px;
    font-size: 16px;
    word-wrap: break-word;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: #666666;
}

.p-content.contact{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    font-size: 20px;
    color: #666666;

}

.more-button {
    background: #A1C1E3;
    border-radius: 4px;
    border: none;
    color:white;
    height: 40px;
    width: 148px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    margin-top: 32px;
}


.title-block {
    font-size: 32px;
    
    font-family: 'Roboto Slab';
}
.block-content {
    display: flex;
    padding: 8px;
    margin-left: 16px;
}
.center-title {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    margin-left: 16px;
    word-wrap: break-word;
    
    margin-top:10px;
}
.from-left {
    margin-left: 40px;
    width: 88px;
    height: 88px;
}
.from-left-little {
    margin-left:40px; 
    
}

.title-block-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.7;
}


/* tablet */
@media (min-width:768px) and (max-width:1280px){
    
    .header-wrapper {
        width: auto;
        margin-left: 49px;
        margin-right: 49px;
    }
    .title-section {
        display: flex;
        background-color: black;
        background-image: url(./images/big-pic.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
        margin-bottom: -60px;
        height: 331px;
    }
    #title {
        color:white;
        
        font-style: normal;
        font-weight: 600;
        line-height: 45px;
        font-size: 40px;
        margin-left: 49px;
        margin-right: 49px;
        margin-top:89px;
        font-family: 'Roboto Slab';
    }
    .blocks-buttons {
        background-color: #E5E5E5;
        margin-left: 49px;
        margin-right: 49px;
    }
    .text-content-left{
        margin-left: 49px;
    }
    footer {
        height: 232px;
        background-color: #333333;
    }
    .footer-wrapper {
        margin-left: 32px;
        margin-right: 32px;
        height: 232px;
    }
    
    .footer-info {
        margin-top: 56px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #999999;
    }
    .title-block-text {
        
    }
    .bottomblock-text{
        margin-left: 26px;
    }

    .block-content {
        margin-left: 15px;
        padding: 0px;
    }

    .more-button {
        margin-bottom: 40px;
    }
    
    .content2, .content3 {
        display: none;
    }
}
/* smartphone */
@media (min-width:320px) and (max-width:768px){
    .header-wrapper {
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }
    #title {
        color:white;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 600;
        font-weight: 600;
        line-height: 32px;
        font-size: 32px;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 9px;
        
    }
    .title-section {
        display: flex;
        background-color: black;
        background-image: url(./images/big-pic.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
        margin-bottom: -60px;
        height: 224px;
    }
    .title-block {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 20px;
    }
    .text-content-left{
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 40px;
    }
    .text-content-right {
        margin-left:24px;
        margin-right: 24px; 
        margin-bottom: 40px;
    }
    .blocks-buttons {
        margin-left: 24px;
        margin-right: 24px;
    }
    footer {
        height: 352px;
        background-color: #333333;
    }
    .footer-wrapper {
        margin-left: 24px;
        margin-right: 24px;
        
        height: 352px;
    }
    .footer-info {
        margin-top: 56px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #999999;
    }
    .from-left {
        width: 44px;
        height: 44px;
    }
    .title-block-text{
        display: none;
    }
    .content2, .content3 {
        display: none;
    }
    .reversed {
        flex-direction: column-reverse;
    }
}
