html {
    box-sizing: border-box;
    background-color: #E5E5E5;
    font-family: 'Roboto', serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    
    color: #666666;
    
    opacity: 0.3;
}

.containe{
    margin-left: 160px;
    margin-right: 160px;
}

.header-content {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50% ;
    width: 100%;
    margin-left: 54px;
}
.header-button {
    height: auto;
    background: #FFFFFF;
    /* border-bottom: 0px;
    border-top: 0px;    */
}




#login {
    background: #FFFFFF url(images/login-icon.svg) no-repeat 10px center;
    text-align: center;
    
    
}
#signup {
    background: #FFFFFF url(images/reg-icon.svg) no-repeat 10px center;   
    
}
#help {
    background: #FFFFFF url(images/help-icon.svg) no-repeat 10px center; 
    
}
#blind {
    background: #FFFFFF url(images/eyes-icon.svg) no-repeat 10px center;
    
}
#search {
    background: #FFFFFF url(images/search-icon.svg) no-repeat 10px center;
    
    
}
main {
    margin-left: 160px;
    margin-right: 160px;
    
}
.darkred-text {
    color:#633333;
    font-family: 'Roboto Slab' ;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 51px;
    
}
.tab-bar {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.tab {
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #999999;
}
.tab.active {
    background: #FFFFFF;
    border-radius: 3px;
    border-color: white;
}
.tab.inactive {
    border:0px;
    background: #E5E5E5;
}
.more-button {
    grid-column-start:5;
    align-self: center;
    background: #A1C1E3;
    border-radius: 4px;
    color:white;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    
}

table {
    width: 100%;
}
tr {
    text-align: left;
}
td {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    
    color: #999999;
    padding: 32px;
}

th {
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    padding: 32px;
    color: #333333;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    
}


footer {
    height: 192px;
    background-color: #333333;
}
.footer-wrapper {
    margin-left: 160px;
    margin-right: 160px;
    
    height: 192px;
}

.block {
    background-color: white;    
    border-radius: 4px;
    margin-bottom: 56px;
    padding-top: 57px;
}

.sub-block {
    display: grid;
    height: auto;    
    padding-left: 96px;
    padding-bottom: 32px;
}

.block-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #333333;
    opacity: 0.5;
}
.block-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
    color: #666666;
}

.footer-info {
    margin-top: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    
    color: #999999;
}

/* tablet */
@media (min-width:768px) and (max-width:1440px){
    header {
        background-color: #fff;
        height: 40px;
    }
    .containe{
        margin-left: 50px;
        margin-right: 50px;
    }
    .header-wrapper {
        margin-left: 32px;
        margin-right: 32px;
        
        height: auto;
    }
    main {
        margin-left: 32px;
        margin-right: 32px;
        
    }
    footer {
        height: 232px;
        background-color: #333333;
    }
    .footer-wrapper {
        margin-left: 32px;
        margin-right: 32px;
        
        height: 232px;
    }
    
    .footer-info {
        margin-top: 56px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        text-align: left;
        color: #999999;
    }
    
    .sub-block {
        display: grid;
        height: auto;    
        padding-left: 35px;
        padding-bottom: 32px;
    }
    
    
    .block-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        
        color: #333333;
        
        opacity: 0.5;
    }
    
    .block-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        font-size: 24px;
        color: #666666; 
    }
    .logo {
        display: none;
    }
    .header-content {
        display: grid;
        
    }
    
    
    
}

/* smartphone */
@media (min-width:320px) and (max-width:768px){
    header {
        background-color: #fff;
        height: 41px;
    }
    .header-wrapper {
        /* margin-left: 32px;
        margin-right: 32px; */
        
        /* height: auto; */
    }
    main {
        margin-left: 24px;
        margin-right: 24px;
        
    }
    footer {
        height: 352px;
        background-color: #333333;
    }
    .footer-wrapper {
        margin-left: 24px;
        margin-right: 24px;
        
        height: 352px;
    }
    .footer-info {
        margin-top: 56px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #999999;
    }
    .sub-block {
        display: grid;
        height: auto;    
        padding-left: 24px;
        padding-bottom: 32px;
    }
    
    .block-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        
        color: #333333;
        
        opacity: 0.5;
    }
    .block-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        font-size: 24px;
        
        color: #666666;
    }
    .logo {
        display: none;;
    }
    .header-content {
        display: none;
    }
    
}